/lame-3.100/
/build/testfiles/*.mp3
/build/wav2mp3
/build/testfiles/sine24s_long.wav
/src/cmake-build-debug/
/src/cmake-build-release/
/src/CMakeFiles/
/src/cmake_install.cmake
/src/CMakeCache.txt
/src/Makefile
/src/wav2mp3.cbp